In [1]:
# kaggle competitions download -c prml-data-contest-jan-2021

In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/Users/nithinuppalapati/Desktop/IITM_Folder/Semester_VI/CS5691/Assignments/data_contest/prml_song_recog'):
    for filename in filenames:
        # print(os.path.join(dirname, filename))
        print(filename)

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

songs.csv
save_for_later.csv
dummy_submission.csv
test.csv
song_labels.csv
train.csv

In [4]:
os.getcwd()

'/Users/nithinuppalapati/Desktop/IITM_Folder/Semester_VI/CS5691/Assignments/data_contest'

In [5]:
os.chdir("/Users/nithinuppalapati/Desktop/IITM_Folder/Semester_VI/CS5691/Assignments/data_contest/prml_song_recog")
os.getcwd()

'/Users/nithinuppalapati/Desktop/IITM_Folder/Semester_VI/CS5691/Assignments/data_contest/prml_song_recog'

In [6]:
train_df = pd.read_csv("train.csv")
print(train_df.shape)
train_df.head()

(710109, 3)

  customer_id  song_id  score
0      O29219     3459      3
1      I50343     5326      4
2      N42888      236      5
3       F5740      724      4
4       K4115     8452      5

In [7]:
train_df["customer_id"].unique()

array(['O29219', 'I50343', 'N42888', ..., 'N14108', 'N29868', 'N32128'],
      dtype=object)

In [8]:
train_df["customer_id"].value_counts()

N9668     98
J15604    98
F6630     98
I24143    98
N10288    97
          ..
K51725     6
M18327     6
K39865     6
N50918     6
F34590     5
Name: customer_id, Length: 14053, dtype: int64

In [9]:
song_labels = pd.read_csv("song_labels.csv")
print(song_labels.shape)
song_labels.head()
song_labels["platform_id"].unique()

(999912, 3)

array(['Q207781', 'S961833', 'X6718608', ..., 'P468070', 'P129510',
       'V6023056'], dtype=object)

In [10]:
test_df = pd.read_csv("test.csv")
print(test_df.shape)
test_df.head()

(670681, 2)

  customer_id  song_id
0      J24644     5304
1      G29701      123
2      M29977       11
3      H50752     1445
4      J42394      271

In [11]:
test_df["customer_id"].value_counts()

F6630     99
J15604    98
O10509    98
N9668     98
I24143    98
          ..
N32128    15
K51725    15
I40753    15
K43675    14
F34590    14
Name: customer_id, Length: 14053, dtype: int64

In [12]:
save_df = pd.read_csv("save_for_later.csv")
print(save_df.shape)
save_df.head()

(238880, 2)

  customer_id  song_id
0      F22180     1140
1      N34498     1523
2      K46875     6918
3      L50176     5828
4      F13830     3039

In [13]:
songs_df = pd.read_csv("songs.csv")
print(songs_df.shape)
songs_df.head()

# Mean or Mode imputation for NaN values

(9981, 5)

   song_id platform_id  released_year language  number_of_comments
0     8328   T17332564         2013.0      eng                1936
1     8591     T773514         1925.0      eng                 420
2      718      U10975         1929.0      eng                5485
3     6593      Y12839         1968.0      NaN                 200
4      743      Q28881         2002.0    en-US               10411

In [29]:
# len(songs_df["song_id"].unique())
len(songs_df["platform_id"].unique())

9981

In [24]:
song_labels_df = pd.read_csv("song_labels.csv")
print(song_labels_df.shape)
song_labels_df.head()

(999912, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999912 entries, 0 to 999911
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   platform_id  999912 non-null  object
 1   label_id     999912 non-null  int64
 2   count        999912 non-null  int64
dtypes: int64(2), object(1)
memory usage: 22.9+ MB

In [15]:
train_df.isnull()[:5]

   customer_id  song_id  score
0        False    False  False
1        False    False  False
2        False    False  False
3        False    False  False
4        False    False  False

In [16]:
print(np.nonzero(np.array(train_df.isnull())))
print(np.nonzero(np.array(test_df.isnull())))
print(np.nonzero(np.array(save_df.isnull())))
print(np.nonzero(np.array(songs_df.isnull())))
print(np.nonzero(np.array(song_labels_df.isnull())))

(array([], dtype=int64), array([], dtype=int64))
(array([], dtype=int64), array([], dtype=int64))
(array([], dtype=int64), array([], dtype=int64))
(array([   3,    6,    8, ..., 9913, 9917, 9919]), array([3, 3, 3, ..., 3, 3, 3]))
(array([], dtype=int64), array([], dtype=int64))

In [17]:
np.shape(np.nonzero(np.array(songs_df.isnull())))

(2, 1092)

In [18]:
# MSE for dummy_submission is 1.88016.

############################ Ideas ##########################
# Using vectors for label for a song. Using something like cosine measure for comparision of label of songs.

############################ Below is Testing Area ##########################

In [32]:
data=[list(train_df["song_id"]),list(train_df["score"])]

def model_naive(data,song_id):

SyntaxError: unexpected EOF while parsing (<ipython-input-32-e5a72ddeabd1>, line 6)

In [31]:
list(train_df["song_id"])

[3459,
 5326,
 236,
 724,
 8452,
 230,
 1247,
 1119,
 742,
 497,
 98,
 274,
 1081,
 8943,
 3657,
 58,
 8793,
 12,
 5827,
 1443,
 1693,
 1831,
 1742,
 252,
 1227,
 2782,
 2877,
 46,
 3489,
 247,
 1621,
 42,
 239,
 8100,
 2215,
 18,
 392,
 5463,
 871,
 4975,
 2081,
 508,
 5057,
 59,
 46,
 1432,
 38,
 24,
 1396,
 370,
 9146,
 104,
 3673,
 3642,
 1972,
 153,
 4409,
 13,
 269,
 606,
 1567,
 210,
 1256,
 137,
 117,
 148,
 2278,
 149,
 6387,
 60,
 1774,
 795,
 2252,
 4885,
 5997,
 5845,
 5849,
 3885,
 1821,
 2547,
 82,
 1961,
 197,
 2287,
 531,
 163,
 208,
 6977,
 118,
 613,
 8962,
 4466,
 2337,
 2177,
 3869,
 114,
 595,
 164,
 4038,
 5850,
 5836,
 2123,
 5002,
 2463,
 8543,
 3,
 132,
 81,
 182,
 2302,
 1207,
 1789,
 47,
 3034,
 120,
 6201,
 245,
 220,
 446,
 8,
 30,
 8,
 695,
 4207,
 17,
 799,
 332,
 1055,
 1380,
 141,
 7863,
 421,
 1780,
 3874,
 436,
 602,
 2051,
 36,
 4477,
 2998,
 176,
 556,
 7406,
 1342,
 5393,
 4022,
 3023,
 4002,
 4636,
 1120,
 3455,
 4373,
 1664,
 1542,
 76,
 4112,
 3508,
 881,
 460,
 5798,
 5053,
 62,
 2680,
 4705,
 5207,
 1981,
 12,
 8346,
 1256,
 2740,
 715,
 64,
 3959,
 1867,
 2073,
 34,
 60,
 32,
 716,
 42,
 35,
 290,
 1327,
 2566,
 9763,
 2337,
 247,
 8882,
 115,
 2851,
 54,
 1853,
 122,
 903,
 7745,
 47,
 521,
 5312,
 7722,
 39,
 4,
 158,
 691,
 56,
 248,
 675,
 1294,
 1008,
 924,
 6849,
 264,
 1195,
 3527,
 4769,
 582,
 1490,
 846,
 5212,
 2823,
 563,
 616,
 3937,
 263,
 2824,
 6186,
 152,
 5466,
 390,
 3927,
 73,
 7487,
 3117,
 5381,
 4190,
 648,
 3847,
 496,
 4612,
 1040,
 1283,
 1160,
 12,
 2159,
 555,
 7,
 4140,
 2837,
 23,
 2082,
 4760,
 1359,
 370,
 550,
 317,
 1274,
 1376,
 35,
 119,
 492,
 256,
 2869,
 8942,
 2894,
 569,
 1091,
 1,
 3553,
 5932,
 54,
 1655,
 837,
 273,
 350,
 198,
 3634,
 2905,
 8044,
 209,
 1889,
 5045,
 6239,
 1141,
 959,
 1152,
 370,
 284,
 72,
 2,
 7114,
 1227,
 3465,
 478,
 1048,
 207,
 6195,
 4807,
 6494,
 1033,
 258,
 219,
 23,
 1020,
 45,
 6827,
 171,
 3013,
 101,
 1402,
 3142,
 119,
 4198,
 98,
 6560,
 7286,
 554,
 17,
 972,
 287,
 745,
 83,
 4693,
 1296,
 69,
 3058,
 2366,
 197,
 3114,
 2044,
 1318,
 6879,
 4732,
 6074,
 21,
 2,
 236,
 413,
 98,
 623,
 1121,
 89,
 8975,
 7246,
 2827,
 429,
 816,
 2513,
 1394,
 9196,
 192,
 3110,
 113,
 2747,
 56,
 225,
 1588,
 358,
 2126,
 2116,
 3267,
 201,
 1198,
 493,
 358,
 1675,
 4715,
 332,
 1092,
 6735,
 7158,
 734,
 4151,
 604,
 16,
 350,
 2884,
 4131,
 3346,
 4091,
 6202,
 1670,
 384,
 1813,
 1983,
 993,
 189,
 3729,
 1265,
 24,
 18,
 1668,
 1392,
 4,
 18,
 913,
 4158,
 12,
 195,
 2535,
 61,
 1076,
 2420,
 6221,
 194,
 1059,
 1,
 36,
 338,
 558,
 641,
 7197,
 21,
 4076,
 102,
 2,
 9228,
 3003,
 8155,
 4347,
 1660,
 1900,
 356,
 3948,
 229,
 440,
 6283,
 782,
 4432,
 93,
 342,
 2780,
 205,
 31,
 15,
 1923,
 1282,
 452,
 3297,
 865,
 140,
 9594,
 8775,
 136,
 539,
 117,
 2007,
 148,
 108,
 8832,
 2384,
 891,
 9094,
 140,
 212,
 681,
 36,
 1199,
 12,
 9254,
 3,
 587,
 635,
 500,
 1979,
 7884,
 5491,
 2304,
 364,
 6054,
 225,
 5522,
 987,
 6909,
 1450,
 8630,
 8348,
 533,
 2409,
 3362,
 1155,
 6003,
 6888,
 440,
 28,
 541,
 596,
 338,
 1785,
 347,
 8,
 14,
 19,
 360,
 3527,
 7,
 25,
 171,
 611,
 409,
 285,
 8,
 9285,
 2346,
 2314,
 2370,
 6066,
 969,
 389,
 143,
 27,
 506,
 369,
 25,
 539,
 1042,
 603,
 6385,
 3877,
 5015,
 409,
 2407,
 4603,
 104,
 117,
 8642,
 6144,
 8615,
 8332,
 302,
 5730,
 163,
 25,
 183,
 115,
 7169,
 285,
 5152,
 2037,
 2316,
 1892,
 4073,
 2715,
 2177,
 4667,
 572,
 75,
 63,
 2619,
 4787,
 5067,
 346,
 268,
 213,
 1725,
 5705,
 1387,
 192,
 7175,
 441,
 150,
 1411,
 5139,
 1201,
 3402,
 254,
 5584,
 1122,
 5114,
 8,
 2159,
 2058,
 411,
 1909,
 63,
 958,
 340,
 144,
 161,
 2868,
 1684,
 1422,
 820,
 464,
 168,
 2374,
 98,
 138,
 684,
 17,
 829,
 164,
 26,
 4540,
 5072,
 141,
 733,
 2890,
 5023,
 6127,
 2222,
 3502,
 4333,
 995,
 6325,
 1220,
 9298,
 503,
 22,
 636,
 27,
 2658,
 2,
 2322,
 1461,
 376,
 11,
 3517,
 733,
 2083,
 2124,
 8773,
 2938,
 877,
 257,
 207,
 249,
 293,
 764,
 6198,
 76,
 367,
 2246,
 2045,
 32,
 17,
 6833,
 204,
 15,
 3145,
 644,
 14,
 1070,
 9121,
 7927,
 538,
 989,
 785,
 138,
 3391,
 988,
 688,
 6205,
 4343,
 768,
 653,
 2358,
 507,
 5490,
 9460,
 919,
 304,
 741,
 111,
 469,
 145,
 328,
 7494,
 416,
 3745,
 614,
 593,
 1038,
 410,
 311,
 84,
 110,
 793,
 5933,
 118,
 3289,
 9,
 6447,
 2450,
 40,
 39,
 32,
 91,
 1772,
 4272,
 1407,
 277,
 20,
 1524,
 90,
 333,
 1266,
 1100,
 2057,
 2802,
 2169,
 503,
 520,
 1170,
 573,
 405,
 2174,
 2813,
 4800,
 7195,
 148,
 150,
 6835,
 8085,
 100,
 155,
 3856,
 2017,
 233,
 355,
 2,
 18,
 2275,
 3693,
 1475,
 874,
 1249,
 4602,
 922,
 3767,
 116,
 1363,
 58,
 1501,
 742,
 450,
 174,
 3247,
 35,
 110,
 154,
 205,
 37,
 582,
 2235,
 594,
 770,
 159,
 6275,
 9945,
 859,
 20,
 4981,
 1041,
 23,
 2458,
 2390,
 364,
 1506,
 5696,
 84,
 1079,
 8874,
 289,
 9567,
 1806,
 2233,
 1908,
 16,
 6685,
 1699,
 5199,
 3165,
 650,
 7589,
 8668,
 1948,
 42,
 2012,
 463,
 97,
 8899,
 72,
 712,
 911,
 301,
 40,
 34,
 1422,
 753,
 2403,
 205,
 2592,
 57,
 615,
 6692,
 472,
 21,
 1481,
 7701,
 257,
 1175,
 132,
 2,
 2783,
 560,
 195,
 1695,
 116,
 558,
 7556,
 40,
 1371,
 1890,
 173,
 7528,
 2326,
 557,
 2218,
 95,
 1280,
 531,
 53,
 2705,
 764,
 140,
 4905,
 6873,
 6437,
 39,
 101,
 87,
 912,
 268,
 1165,
 250,
 787,
 39,
 2845,
 534,
 7074,
 37,
 74,
 820,
 4509,
 5156,
 185,
 4950,
 241,
 981,
 337,
 2549,
 4891,
 3323,
 250,
 6004,
 8974,
 439,
 348,
 1057,
 107,
 1649,
 3358,
 7495,
 326,
 26,
 1185,
 59,
 2611,
 363,
 630,
 696,
 92,
 85,
 910,
 3245,
 8051,
 3040,
 4053,
 5244,
 2634,
 127,
 3969,
 93,
 5934,
 836,
 186,
 16,
 1121,
 314,
 342,
 467,
 981,
 1537,
 6342,
 3049,
 5376,
 129,
 1172,
 1819,
 3827,
 335,
 726,
 83,
 305,
 1708,
 229,
 44,
 560,
 1718,
 2816,
 8672,
 117,
 561,
 180,
 1845,
 2979,
 1219,
 57,
 73,
 322,
 1024,
 6244,
 7015,
 1295,
 1582,
 148,
 132,
 6999,
 23,
 736,
 2954,
 798,
 1260,
 475,
 887,
 813,
 2243,
 5968,
 428,
 5866,
 945,
 218,
 3231,
 3078,
 7,
 1240,
 3109,
 300,
 4637,
 403,
 4367,
 652,
 17,
 2004,
 338,
 7770,
 7829,
 1878,
 299,
 631,
 1274,
 48,
 2915,
 384,
 3012,
 20,
 1124,
 1712,
 3747,
 3383,
 7721,
 4189,
 759,
 465,
 222,
 3076,
 137,
 190,
 97,
 81,
 6217,
 560,
 205,
 7019,
 29,
 409,
 3531,
 2931,
 606,
 1286,
 2451,
 495,
 190,
 2640,
 376,
 4186,
 3188,
 138,
 61,
 2488,
 2103,
 ...]